.ant-collapse-header{
    color: #ffff;
    padding-left: 30px;
    cursor: default;
}

div.ant-collapse-item.ant-collapse-item-disabled.ant-collapse-no-arrow >div.ant-collapse-header{
    color: white !important;
}