


body {
  margin: 0;
  padding: 0;
}

.logo{
  width: 120px;
  height: 31px;
  background: #001529;
  margin: 16px 24px 16px 0;
  float: left;
}

div.section{
  padding: 35px 0;
}
div.section > .section-title{
  padding: 25px 0;
}