


body {
  margin: 0;
  padding: 0;
}

.logo{
  
  width: 120px;
  height: 32px;
  line-height: 32px;
  margin: 16px 24px 16px 0;
  float: left;
}


.caroiselpng{
  background: url('./assets/banner.png');
}

div.section{
  padding: 35px 0;
}
div.section > .section-title{
  padding: 25px 0;
}